.modal-likers-info{
	height: 80px;
	width: 100%;
	padding-bottom: 10px;
}

.modal-likers-info .modal-likers-names, .modal-likers-info > a{
	float: left;
	padding-right: 10px;
	margin: 0;
}

.modal-likers-info a > img{
	width: 80px;
	height: 80px;
}

.modal-likers-name{
	font-size: 25px;
	font-weight: bold;
	color: black;
	/*width: 100%;*/
	float: left;
}

.modal-likers-username{
	font-size: 15px;
	color: gray;
	width: 100%;
	float: left;
}

.modal-likers-info a:hover{
	color: black;
}


.modal-comments-prof-pic img{
	width: 45px;
	height: 45px;
}

.modal-comments-names{
	margin-left: 5px;
}

.modal-comments-name{
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin: 0;
	width: 100%;
}

.modal-comments-username{
	font-size: 10px;
	color: gray;
	margin: 0;
	width: 100%;
}

.modal-comments-body{
	width: 100%;
	padding: 10px 0px;
}
