.notif-content-panel{
	margin: 5px 0;
}

.notif-content-body{
	height: 130px;
}

.notif-user-image img{
	width: 90px;
	height: 90px;
}

.notif-user-name{
	margin-left: 10px;
}

.panel{
	min-height: 10px
}

.notif-user-message{
	font-size: 1.5em;
}